site_name: Thorin's Notebook
site_url: https://note.thorin215-wang.com/
repo_name: Thorin215/note  #存储库名称，一般自动设置
repo_url: https://github.com/Thorin215/note/  #存储库URL
# edit_uri: tree/master/docs  #每个文档的顶部显示一个编辑按钮，""则隐藏
site_description: Thorin's Notebook
copyright: Copyright &copy; 2022 <a href="https://github.com/Thorin215"  target="_blank" rel="noopener">Thorin</a>

theme: 
  name: material
  language: zh
  # logo: log.ico
  # favicon: log.ico
  custom_dir: overrides
  features:
    - content.code.annotate
    - navigation.tracking
    - navigation.tabs
    - navigation.indexes
    - navigation.top
  font:
    text: LXGW WenKai Screen
    code: JetBrains Mono
  palette:     #切换昼夜模式的颜色，审美差就用默认，专业点就自定义
    - media: "(prefers-color-scheme: light)" 
      scheme: default  #配色方案：浅色模式
      # primary: brown  #原色，默认蓝，用于标题、侧边栏、文本链接和其他几个组件
      # accent: brown  #强调色，默认蓝，可以交互的元素如悬停链接、按钮和滚动条
      toggle:
        icon: material/weather-sunny #图标，太阳
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"  
      scheme: slate  #配色方案：深色模式
      # primary: Brown  #原色，默认蓝，用于标题、侧边栏、文本链接和其他几个组件
      toggle:
        icon: material/weather-night  #图标，月亮
        name: Switch to light mode


markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 4
  - admonition
  - meta
  - def_list
  - attr_list
  - md_in_html
  - sane_lists
  - admonition
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.magiclink
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.smartsymbols  #智能符号
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.arithmatex:
      generic: true


extra_css:
  - https://gcore.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css
  - https://gcore.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css
  - https://gcore.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css
  - css/custom.css
  - css/card.css
  - css/tasklist.css
  - css/flink.css
  - css/more_changelog.css
  

extra_javascript:
  - js/baidu-tongji.js
  - https://gcore.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js
  - js/katex.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/Thorin215/

plugins:
  - changelog
  - search
  - git-revision-date-localized:
      type: datetime
      timezone: Asia/Shanghai
      locale: zh
      enable_creation_date: true
      exclude:
        - index.md
        - comming.md
        - link.md
        - tech_accu/index.md
        - cour_note/index.md

nav:
  - Home:
    - index.md
    # - 更新记录: changelog.md
    - 友链: link.md
  - Computer Science:
    - Oriented Object Programming: 
      - OOP/index.md
      - C++语言特性: OOP/oop1.md
      - 类的基本性质: OOP/oop2.md
    - CS61A:
      - CS61A/index.md 
      - Structure and Interpretation of Computer Programs: CS61A/61a1.md
      - Data Abstraction: CS61A/61a2.md
      - Oriented Object Programming: CS61A/61a3.md
    - Python:
      - Python/index.md
      - 作业易错题整理: Python/problems.md
      - Introduction: Python/Py1.md
      - Basic Data Types: Python/Py2.md
      - Basic Syntax: Python/Py3.md
    - Advanced Data Structure and Algorithm: 
      - ADS/index.md
      - Homework Review : ADS/HW.md
      - AVL Trees, Splay Trees, and Amortized Analysis: ADS/ADS1.md
      - Red-Black Trees and B+ Trees: ADS/ADS2.md
      - Inverted File Index : ADS/ADS3.md 
      - Leftist Heaps and Skew Heaps: ADS/ADS4.md
    - Mechine Learning In the Data Analysis:
      - ML/index.md
      - Beyasian Data Analysis: ML/ML4.md
  - System:
    - Computer Organization: 
      - CO/index.md
      # - Hits 题解: MISC/bit.md
      - Computer Abstraction and Technology : CO/CO1.md
      - Arithmetic for Computer : CO/CO2.md
      - Instruction : CO/CO3.md
    - Database System: 
      - DB/index.md
      - Introduction: DB/DB1.md
      - Relational Model: DB/DB2.md
      - SQL介绍: DB/DB3.md
      - 中级SQL: DB/DB4.md
  - Mathematics and Physics:
    - Ordinary Differential Equations: 
      - ODE/index.md
      - 基本定义: ODE/ode1.md
      - 变量分离: ODE/ode2.md
  - Paper Reading:
    - Paper/index.md
    - DDPM: Paper/DDPM.md
    - MQT-LLaVA: Paper/MQT-LLaVA.md
    - mPLUG-Owl: Paper/mPLUG-Owl.md
    - LLaVAOneVision: Paper/LLaVAOneVision.md
    - ViT: Paper/ViT.md
    - CLIP: Paper/CLIP.md
  - Thinking and Writing:
    - Think/index.md
    - 序言: Think/Intro.md
    #- Writing/index.md
  # - Travel and Photography: 

  # - English: